#top-bar ul {
    list-style: none; /* Removes the default list styling */
    margin: 0;
    padding: 0;
    display: flex; /* Uses flexbox to layout children horizontally */
    justify-content: center; /* Centers the list items in the navigation bar */
}

#top-bar li {
    padding: 10px; /* Adds some space around the buttons */
}

#top-bar {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000; /* High z-index to ensure it stays on top of other content */
}

#top-bar input[type="button"] {
    background-color: #444; /* Darker than the bar for contrast */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#top-bar input[type="button"]:hover {
    background-color: #555; /* Slightly lighter on hover */
}


body, html {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 100;
    margin: 0px;  /* Specify units */
    padding: 0;
    scroll-behavior: smooth;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}


#left-side, #right-side {
    width: 50%;  /* Each div takes up half of the body's width */
    height: 99vh; /* Optional: makes each div take the full height of the viewport */
    float: left; /* This makes the divs sit side by side */
}

/* Optional: Add some styling to differentiate the two sides */
#left-side {
    background-color: #f1f1f1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#right-side {
    width: 50%;  /* Adjust width as necessary */
    height: 100vh; /* Full viewport height, adjust as necessary */
    display: flex; /* This will help center the image inside the div */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Prevents any overflow from the div */
}

#right-side img {
    max-width: 100%;  /* Ensures the image is not wider than the div */
    max-height: 100%; /* Ensures the image is not taller than the div */
    object-fit: cover; /* Covers the div area, might crop some parts of the image */
}

body::before {
    content: ''; /* Necessary for a pseudo-element */
    position: absolute; /* Position relative to the body element */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-image: url('back.jpg'); /* Your background image */
    /*background-size: cover; /* Cover the entire page */
    /*background-position:inherit; /* Center the background image */
    /*background-attachment:scroll; /* Optional: Makes the background image fixed during scroll */
    opacity: 0.7; /* Adjust the transparency; 1.0 is fully opaque, 0 is fully transparent */
    z-index: -1; /* Ensure the background is behind all other content */
}

.section, .project {
    padding: 20px;
    text-align: center;
}

.project {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.75s ease;
    opacity: 0;
    transform: translateY(50px);
    visibility: hidden;
    position: relative;
    z-index: -1; /* Ensure the background is behind all other content */

}

.project.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.project.active .details {
    max-height: 800px; /* Adjust as needed */
}
